# This is Git's per-user configuration file.
[user]
	name = Parminder Thindal
	email = parminderthindal@gmail.com
# Please adapt and uncomment the following lines:
#	name = Parminder Thindal
#	email = parminderthindal@pst-mbp.local
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/parminderthindal/.gitignore_global
